<template>
  <div class="layout">
    <Navbar/>
    <div class="container">
      <slot name="buttons"></slot>
      <div class="row">
        <div class="col-sm-9">
          <slot></slot>
        </div>
        <div class="col-sm-3">
          <sidebar></sidebar>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Navbar from '../components/NavBar.vue';
  import Sidebar from '../components/SideBar.vue'

  export default {
    name: 'Layout',
    components: {
      Navbar,
      Sidebar
    }
  };
</script>

<style scoped>
  .container {
    margin-top: 30px
  }
</style>
