<template>
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
      <img :src="`${imgPreUrl}logo.svg`" alt="Logo">
    </a>
    <button @click="onLogout()" class="btn btn-info btn-logout">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
    </button>
  </nav>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Navbar',
  // created() {
  //   console.log(`NavBar onCreated: ${JSON.stringify(this.$store.state.user)}`);
  // },
  // mounted() {
  //   console.log(`NavBar mounted: ${JSON.stringify(this.$store.state.user)}`);
  // },
  // destroyed() {
  //   console.log(`NavBar onDestroyed: ${JSON.stringify(this.$store.state.user)}`);
  // },
  data() {
    return {
      imgPreUrl: '/img/',
    };
  },
  methods: {
    onLogout() {
      axios.get('api/account/logout').then(() => {
        this.$store.commit('set_user', null);
        this.$router.push({ name: 'login' });
        // console.log(`NavBar onLogout: ${JSON.stringify(this.$store.state.user)}`);
      }).catch(error => alert(error.response.data.message));
    },
  },
};
</script>

<style scoped>
  .navbar {
    background-color: #FFFFFF;
    height: 60px;
    border-bottom: solid #17A2B8 1px;
    padding: 0 0 0 0.5rem;
  }

  .navbar-brand img {
    width: 262px;
    height: 47px;
  }

  .btn-logout {
    width: 80px;
    height: 60px;
    background-color: #17A2B8;
    text-align: center;
    font-size: 25px;
    justify-content: center;
  }
</style>
