<template>
  <div class="side-bar">
    <SubSideBar :subSideBar="adminSideBar"/>
    <SubSideBar :subSideBar="userSideBar"/>
    <SubSideBar :subSideBar="settingSideBar"/>
  </div>
</template>

<script>
  import SubSideBar from './SubSideBar.vue'

  export default {
    name: 'SideBar',
    components: {
      SubSideBar
    },
    data() {
      return {
        adminSideBar: {
          header: '<i class="fa fa-unlock"></i>&nbsp;ส่วนของผู้ดูแลระบบ',
          navs: [
            {name: 'ข้อมูลการจองห้องประชุม'},
            {name: 'ข้อมูลอุปกรณ์ห้องประชุม', link: {name: 'equipment-list'}},
            {name: 'ข้อมูลห้องประชุม'}
          ]
        },
        userSideBar: {
          header: '<i class="fa fa-user"></i>&nbsp;ส่วนของผู้ดูแลระบบ',
          navs: [
            {name: 'การจองห้องประชุม'},
            {name: 'แก้ไขข้อมูลส่วนตัว'},
            {name: 'เปลี่ยนรหัสผ่าน'}
          ]
        },
        settingSideBar: {
          header: '<i class="fa fa-cog"></i>&nbsp;ส่วนของผู้ดูแลระบบ',
          navs: [
            {name: 'ตั้งค่าข้อมูลส่วนตัว'},
            {name: 'ตั้งค่าการแจ้งเตือน'},
            {name: 'อัพเกรดบัญชี'}
          ]
        },
      }
    }
  }
</script>

<style scoped>
</style>
