<template>
  <section class="card">
    <header class="card-header text-center">
      <h5 class="m-0" v-html="subSideBar.header"></h5>
    </header>
    <div class="card-body">
      <router-link :to="nav.link || ''"
                   class="sidebar-link"
                   v-for="(nav, index) in subSideBar.navs"
                   :key="index">
        <i class="fa fa-chevron-circle-right"></i>
        {{ nav.name }}
      </router-link>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'SubSideBar',
    props: ["subSideBar"]
  }
</script>

<style scoped>
  h5 {
    font-size: 16px;
  }

  .card {
    border: none;
    background: none;;
    margin-bottom: 30px;
  }

  .card-body {
    padding: 0.8rem 0;
  }

  .sidebar-link {
    display: block;
    color: #525B62;
    padding: 0.55rem 1rem;
    margin: 1px 0;
    font-weight: 400;
    text-decoration: none;
  }

  .fa-chevron-circle-right {
    color: #17A2B8;
    margin-right: 4px;
  }

  .sidebar-link:active,
  .sidebar-link:hover {
    background: #DEE2E6;
  }

  .sidebar-link:active,
  .sidebar-link:active .fa-chevron-circle-right,
  .sidebar-link:hover,
  .sidebar-link:hover .fa-chevron-circle-right {
    color: #212529;
  }
</style>
