@import url('https://fonts.googleapis.com/css?family=Kanit:300,400,600&display=swap');

body {
  background-color: #EEEEEE;
}

html, body {
  font-family: 'Kanit', sans-serif;
}

.card, .card-header, .form-control, .btn, .alert {
  border-radius: 0 !important;
}

.card {
  border-color: #17A2B8;
}

.card-header {
  color: #FFFFFF;
  background-color: #17A2B8;
}

label {
  color: #6C757D;
  font-weight: lighter;
}

.form-control {
  font-weight: lighter;
}

.alertify .ajs-header,
.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok {
  color: #17A2B8;
}

.table th {
  color: #525B62;
  font-weight: 400;
}
