<template>
  <Layout>
    <div class="form-group" slot="buttons">
      <router-link :to="{name: 'equipment-list'}" class="btn">รายการข้อมูล</router-link>
      <router-link :to="{name: 'equipment-form'}" class="btn">เพิ่มข้อมูลใหม่</router-link>
    </div>
    <div class="card">
      <div class="card-body">
        <header class="mb-4">
          <h5><i class="fa fa-list-alt"></i> รายการข้อมูลอุปกรณ์ห้องประชุม</h5>
        </header>
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>ชื่ออุปกรณ์ห้องประชุม</th>
            <th>รายละเอียด</th>
            <th>วันที่แก้ไขล่าสุด</th>
            <th></th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </Layout>
</template>

<script>
  // import Layout from '../../components/Layout.vue';
  import Layout from "@/components/Layout.vue";

  export default {
    name: 'EquipmentList',
    components: {
      Layout
    }
  }
</script>

<style scoped>
  .btn {
    color: #FFFFFF;
    background-color: #CED4DA;
    margin: 0 4px;
    min-width: 130px;
  }

  .btn.router-link-exact-active {
    background-color: #17A2B8;
  }
</style>
