<template>
  <Layout>
    <div class="form-group" slot="buttons">
      <router-link :to="{name: 'equipment-list'}" class="btn">รายการข้อมูล</router-link>
      <router-link :to="{name: 'equipment-form'}" class="btn">เพิ่มข้อมูลใหม่</router-link>
    </div>
    <div class="card">
      <div class="card-body">
        <header>
          <h5><i class="fa fa-edit"></i> เพิ่ม/แก้ไข ข้อมูลอุปกรณ์ห้องประชุม</h5>
          <hr>
        </header>
      </div>
    </div>
  </Layout>
</template>

<script>
  import Layout from '@/components/Layout.vue';
  export default {
    name: 'EquipmentForm',
    components: {
      Layout
    },
  }
</script>

<style scoped>
  .btn {
    color: #FFFFFF;
    background-color: #CED4DA;
    margin: 0 4px;
    min-width: 130px;
  }
  .btn.router-link-exact-active {
    background-color: #17A2B8;
  }
</style>
