<template>
  <div class="home">
    <Layout>
      <div class="card">
        <div class="card-body"></div>
      </div>
    </Layout>
    <img alt="Vue logo" src="../assets/logo.png">
    <h1>Home page</h1>
  </div>
</template>

<script>
  import Layout from '../components/Layout.vue'

  export default {
    name: 'home',
    components: {
      Layout
    },
    created() {
      console.log(`user: ${JSON.stringify(this.$store.state.user)}`);
    },
  };
</script>

<style>
  .home img {
    display: block;
    margin: auto;
  }

  .home h1 {
    text-align: center;
  }
</style>
