<template>
  <div class="login">
    <img src="/img/logo.svg" alt="Logo" class="img-logo">
    <div class="card">
      <h1 class="card-header">
        LOGIN
      </h1>
      <div class="card-body">
        <form @submit.prevent="onSubmit()">
          <div class="form-group">
            <label>ชื่อผู้ใช้งาน</label>
            <input type="text" class="form-control"
                   :class="{ 'is-invalid': errors.has('u_username') }"
                   v-validate="'required'"
                   name="u_username" v-model.trim="form.u_username"/>
            <span class="invalid-feedback">{{errors.first('u_username')}}</span>

            <label>รหัสผ่าน</label>
            <input type="password" class="form-control" name="u_password"
                   :class="{ 'is-invalid': errors.has('u_password') }"
                   v-validate="'required'"
                   v-model.trim="form.u_password"/>
            <span class="invalid-feedback">{{errors.first('u_password')}}</span>
          </div>

          <div class="form-group buttons">
            <div v-if="errorMessage" class="alert alert-warning text-center">
              {{ errorMessage }}
            </div>

            <button type="submit" class="btn btn-info btn-block">
              เข้าสู่ระบบ
            </button>
            <button type="button" @click="onRedirectToRegister"
                    class="btn btn-secondary btn-block">
              ลงทะเบียน
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</template>

<script>
// import { axios } from 'axios';
import axios from 'axios';
import { Validator } from 'vee-validate';
import router from '../router';
import customValidator from '../configs/custom-validate';

Validator.localize('en', customValidator);

export default {
  name: 'Login',
  data() {
    return {
      form: {
        u_username: 'Korn704',
        u_password: '12345678',
      },
      errorMessage: '',
    };
  },
  methods: {
    // Submit Login
    onSubmit() {
      this.$validator.validateAll().then((valid) => {
        if (!valid) {
          this.errorMessage = null;
          return;
        }
        axios
          .post('api/account/login', this.form)
          .then(() => {
            this.onReset();
            router.push({ name: 'home' });
          })
          .catch((err) => {
            this.errorMessage = err.response.data.message;
          });
      });
    },
    // Clear form
    onReset() {
      this.errorMessage = null;
      this.$validator.reset().then();
      this.form = {
        u_username: '',
        u_password: '',
      };
    },
    onRedirectToRegister() {
      // this.$router.push('login');
      router.push({ name: 'register' });
    },
  },
};
</script>

<style scoped>
  .login {
    max-width: 500px;
    margin: 3% auto;
  }

  .img-logo {
    width: 85%;
    display: block;
    margin: auto auto 30px auto;
  }

  h1 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 5px;
  }

  .card-body {
    padding: 0% 10% 0% 10%;
  }

  .btn-secondary {
    margin-top: 20px;
  }

  .buttons {
    margin: 30px auto 50px;
  }

  label {
    margin-top: 1rem;
  }
</style>
